[package]
authors = ["Gaute Hope <eg@gaute.vetsj.com>"]
edition = "2021"
keywords = ["hdf", "async", "concurrency"]
license = "LGPL-3.0-or-later"
name = "hidefix"
repository = "https://github.com/gauteh/hidefix"
description = "Concurrent HDF5 and NetCDF4 reader (experimental)"
version = "0.7.0"
categories = [ "data", "hdf5", "scientific-data" ]

[lib]
name = "hidefix"
crate-type = ["rlib", "cdylib"]

[dependencies]
anyhow = "1"
async-stream = "0.3"
bincode = "1"
byte-slice-cast = "1"
byteorder = "1"
bytes = "1"
flexbuffers = "2"
futures = "0.3"
futures-core = "0.3"
futures-util = "0.3"
itertools = "0.10"
libdeflater = "0.8"
lru = "0.7"
serde_bytes = "0.11"
strength_reduce = "0.2"
zerocopy = "0.6"
libc = "0.2"
hdf5 = "0.8"
hdf5-sys = "0.8"
hdf5-src = "0.8"
log = "0.4"
rayon = "1.6"
ndarray = { version = "0.15", features = [ "rayon" ] }
pyo3 = { version = "0.17.3", optional = true, features = ["anyhow", "auto-initialize", "abi3-py38"] }
numpy = { version = "0.17.2", optional = true }

[dependencies.serde]
features = ["derive"]
version = "1"

[dependencies.tokio]
features = ["sync", "macros", "rt-multi-thread"]
version = "1"

[dev-dependencies]
rand = "0.8"
sled = "0.34.6"
reqwest = { version = "0.11", features = [ "blocking" ] }

[patch.crates-io]
hdf5 = { git = "https://github.com/magnusuMET/hdf5-rust", branch = "hidefix_jul_2023" }
hdf5-sys = { git = "https://github.com/magnusuMET/hdf5-rust", branch = "hidefix_jul_2023" }
hdf5-src = { git = "https://github.com/magnusuMET/hdf5-rust", branch = "hidefix_jul_2023" }

[profile.release]
lto = 'thin'
codegen-units = 1
debug = true

[features]
default = ["static", "fast-index"]
static = ["hdf5-sys/static", "hdf5-sys/zlib"]
fast-index = []
python = ["pyo3", "numpy"]
extension-module = ["python", "pyo3/extension-module"]

