[package]
authors = ["Gaute Hope <eg@gaute.vetsj.com>"]
edition = "2018"
keywords = ["hdf"]
license = "LGPL"
name = "hidefix"
repository = "https://github.com/gauteh/hidefix"
version = "0.1.0"

[dependencies]
anyhow = "1.0.26"
async-stream = "0.2"
bincode = "*"
byte-slice-cast = "0.3.5"
futures = "0.3"
futures-core = "0.3"
futures-util = "0.3"
itertools = "0.8"
lru = "0.4"
ndarray = "0.12.1"
strength_reduce = "*"

[dependencies.flate2]
features = ["zlib"]
version = "*"

[dependencies.hdf5]
branch = "hidefix"
git = "https://github.com/gauteh/hdf5-rust"

[dependencies.hdf5-sys]
branch = "hidefix"
features = ["static", "zlib"]
git = "https://github.com/gauteh/hdf5-rust"

[dependencies.rio]
optional = true
version = "0.9"

[dependencies.serde]
features = ["derive"]
version = "*"

[dependencies.tokio]
features = ["sync"]
version = "*"

[dev-dependencies]
byteorder = "1.3.2"
rand = "0.7.3"
serde_json = "*"

[features]
io_uring = ["rio"]
