[package]
authors = ["Gaute Hope <eg@gaute.vetsj.com>"]
edition = "2018"
keywords = ["hdf", "async", "concurrency"]
license = "LGPL-3.0-or-later"
name = "hidefix"
repository = "https://github.com/gauteh/hidefix"
description = "Concurrent HDF5 and NetCDF4 reader (experimental)"
version = "0.5.2"

[dependencies]
anyhow = "1"
async-stream = "0.3"
bincode = "1"
byte-slice-cast = "1"
byteorder = "1"
bytes = "1"
flexbuffers = "2"
futures = "0.3"
futures-core = "0.3"
futures-util = "0.3"
itertools = "0.10"
libdeflater = "0.8"
lru = "0.7"
serde_bytes = "0.11"
strength_reduce = "0.2"
zerocopy = "0.6"
libc = "0.2"
hdf5 = "0.8"
hdf5-sys = "0.8"
log = "0.4"
tokio-uring = "0.3.0"

[dependencies.serde]
features = ["derive"]
version = "1"

[dependencies.tokio]
features = ["sync", "macros", "rt-multi-thread"]
version = "1"

[dev-dependencies]
ndarray = "0.15"
rand = "0.8"
rayon = "1.5.0"
sled = "0.34.6"

[patch.crates-io]
# hdf5 = { git = "https://github.com/gauteh/hdf5-rust", branch = "hidefix" }
# hdf5-sys = { git = "https://github.com/gauteh/hdf5-rust", branch = "hidefix" }

[features]
default = ["static"]
static = ["hdf5-sys/static", "hdf5-sys/zlib"]
fast-index = []

